apiVersion: v1
kind: Service
metadata:
  name: servicedesk-frontend
  labels:
    app: servicedesk
    tier: frontend
spec:
  type: LoadBalancer
  ports:
  - port: 80
  selector:
    app: servicedesk
    tier: frontend
